
@import '../../App.css';

.card-header{
    border-bottom: 1px solid var(--border-color);
    background-color:var(--header-background-color) ;
}


.card{
    background-color: var(--backgroundColor);
    border: 1px solid var(--border-color);
}

.chosen-city-wrap{
    text-align:left;
}


.chosen-city-wrap>div{
    align-items: center;
    justify-content: end;
}

.chosen-city-wrap .details p{
    margin:0;
}

.home-res-header{
    align-items: center;
}

.add-fav-wrap{
    text-align: right;
}

.add-fav-wrap .btn-outline-danger{
    border-color:  var(--favorites-btn);
    color:var(--favorites-btn);
}


.add-fav-wrap .btn-outline-danger:hover,.add-fav-wrap .btn-danger{
    background-color: var(--favorites-btn);
    color: white;
    border-color: 1px solid var(--favorites-btn);
}

.add-fav-wrap i{
    color:  var(--favorites-btn);
    margin:10px;
    font-size: 20px; 
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
}


    
.add-fav-wrap i:hover{
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}


@media only screen and (max-width:768px){
    .chosen-city-wrap{
        text-align:center;
    }
}


@media only screen and (max-width:420px){
    .card{
        font-size: 14px;
    }
    .add-fav-wrap button {
        font-size: 13px;
    }

}





/* Degrees BTN Start*/

.checkboxDegrees{
    opacity: 0;
	position: absolute;
}

.degreeModeLabel{
    cursor:pointer;
    display: grid;
    font-size: 17px;
    font-weight: 100;
}
.degree-mode#Metric .degreeModeLabel .celsius{
    font-weight: 600;
}

.degree-mode#Imperial  .degreeModeLabel .fahrenheit{
    font-weight: 600;
}



@media only screen and (max-width:575px){
    .degreeModeLabel{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
    }
}
 


/* Degrees BTN End*/


/*Error Forcast */

.Forcast-Error{
    margin-top: 48px;
}

.Forcast-Error img{

    width:90px;
}
/**/