
@import '../../App.css';

.result-container{
    border-top:none;
}


input.search-field-auto.form-control,input.search-field-auto.form-control:focus{
  background-color: var(--backgroundColor);
  color:var(--textColor);
  border:none;
}

.auto-wrap {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--backgroundColorLight);
  }
  .auto-wrap .autocom-city {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    background-color: var(--backgrounbackgroundColorLightdColor);
    color:var(--textColor);
  }
  .auto-wrap .autocom-city:hover {
    background-color: var(--hover-background);
    color:var(--textColor)
  }


.search .input-group{
  border:1px solid var(--border-color);
}
.search .searchBtn{
  border-radius:0;
  background-color: var(--primary-btn-background);
  border:0;
  border-left:1px solid var(--border-color);
}

.search .input-group-text{
  border:0;
}



  .emptySearchRes .modal-body{
    display: grid;
  }
  .emptySearchRes .modal-body img{
    width:50%;
    margin:0 auto;
  }

  .emptySearchRes .modal-body p{
    text-align: center;
  }


  .emptySearchRes  button.close{
    border: none;
    background: none;
    font-size: 25px;
    line-height: 1;
    color:var(--textColor);
}


.emptySearchRes button.close:hover{
  color: #27daec;
  font-weight: 600;
}


.emptySearchRes .modal-header{
  border: none;
}


.modal-content{
  background-color: var(--backgroundColor);
  color:var(--textColor);
}