

body
{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    text-align: center;
    color:var(--textColor);
    background-color:var(--backgroundColor);
   
}

:root {
  --textColor: #162447;
  --backgroundColor:rgb(255, 255, 255) ;
  --border-color: #e7e7e7;
  --primary-btn-background:#162447;
  --favorites-btn:#dc3545;
  --hover-background:#f4f4f4;
  --backgroundColorLight:white;
  --header-background-color:#f4f4f4;

}


[data-theme="dark"] {
   --backgroundColor: #162447;
   --textColor: #c5cddb;
   --border-color:#c5cddb;
   --primary-btn-background:#1f4068;
   --favorites-btn:#e43f5a;
   --hover-background:#162447;
   --backgroundColorLight:#1f4068;
   --header-background-color:#1f4068;


}  




*{
  transition: color 0s, background-color 1.5s !important;
}



.Error-Img{
  width: 40px;
  height: auto;
}